

html, body {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Inter', sans-serif
}

.container {
    width: 1160px;
    margin: 0 auto;
    max-width: calc(100% - 40px);
    padding-bottom: 200px;
}

.expenses {
    display: flex;
    justify-content: end;
    margin-top: 18px;
}

.expenses button {
    background: #4848ff !important;
    color: #fff;
    padding: 8px 12px;
    margin-left: 4px;
    cursor: pointer;
    background: none;
}

.morning-input {
    display: none;
}

.header {
    display: flex;
    padding-top: 15px;
}

#current-date {
    margin-right: 32px;
}

.existing {
    margin-top: 48px;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

.change-input {
    width: calc(100% - 15px);
}

#existing-current, #existing-morning {
    width: 500px;
}

.hidden-table {
    display: none !important;
}
.delete-row {
    display: none;
}

.additional-block {
    position: absolute;
    right: 8px;
    font-size: 12px;
    color: #969696;
    top: 50%;
    transform: translateY(-50%);
}

.col {
    position: relative;
    width: 33.333%;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    font-size: 15px;
    padding: 12px 0 12px 16px;
}

#existing-morning .col {
    padding: 8px 0 8px 12px;
}

#existing-morning {
    font-size: 14px;
}

.buy-sale {
    width: 100%;
    display: flex;
}

.buy-sale .table {
    width: 50%;
}

.divider {
    width: 30px;
}

.select-buttons {
    display: flex;
    justify-content: center;
}

.select-buttons {
    margin: 42px 0;
}

.add-row input {
    margin: 0;
    padding: 0 0 0 14px !important;
    width: calc(33.333% - 15px) !important;
    border: none;
    border-bottom: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
}

input:focus {
    outline: none;
}

button {
    border: none;
}

button.col {
    background: #B7E3B0;
    padding: 14px 0 14px 0 !important;
}

.select-buttons button {
    cursor: pointer;
    width: 166px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #969696;
    color: #969696;
    font-size: 16px;
    outline: none;
    margin: 20px;
    background: none;
}

.total {
    margin-top: 42px;
}
.total .row {
    margin-top: 8px;
    border-top: 1px solid #CECECE;
}

.select-buttons .selected {
    background: #000000;
    color: #fff;
    font-weight: bold;
}

.row {
    justify-content: center;
    display: flex;
}

.table {
    border-top: 1px solid #CECECE;
}
.table .row .col:first-child, .table .table-header {
    border-left: 1px solid #CECECE;
}

.table-header {
    border-bottom: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
}

.table-header {
    font-weight: bold;
    padding: 10px 0;
    border-right: 1px solid #CECECE;
}

.table .row:nth-child(2n+1) {
    background: #F6F6F6;
}

#admin {
    opacity: 0;
}
#admin:hover {
    opacity: 1;
}

#change-course, #change-amount {
    display: none;
}

.change-course-btn, .change-amount-btn {
    display: none;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    background: none;
    margin-left: auto;
    align-self: center;
}

div[data-type="course"], div[data-type="amount"] {
    display: flex;
}

div[data-type="amount"]:hover .change-amount-btn.visible{
    display: flex;
}
div[data-type="course"]:hover .change-course-btn.visible{
    display: flex;
}


#loading {
    display: none;
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#mobile-select {
    display: none;
}

@media screen and (max-width: 1250px) {
    .col {
        font-size: 12px;
        padding: 10px 2px 10px 8px;
    }
    .existing {
        justify-content: center;
    }
    .container {
        max-width: calc(100% - 30px);
    }
}

@media screen and (max-width: 900px) {
    .existing {
        margin-top: 24px;
    }
    .divider {
        width: 18px;
    }
    .select-buttons button {
        margin: 15px;
    }
}

@media screen and (max-width: 690px) {
    .buy-sale.hidden-table, .buy-sale {
        display: block !important;
    }
    #existing-current, #existing-morning {
        width: 100%;
    }
    .buy-sale .table {
        display: none;
    }
    .expenses {
        margin-top: 60px;
        justify-content: start;
    }
    .existing {
        flex-direction: column;
    }
    #existing-morning {
        margin-top: 20px;
    }
    .select-buttons {
        display: none;
    }
    .divider {
        display: none;
    }
    #mobile-select {
        display: block;
        margin: 40px auto;
        font-size: 16px;
        padding: 14px;
    }
    .buy-sale .table {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

}

@media screen and (min-width: 999px) {
    .additional-block.visible:hover .delete-row {
        display: block;
    }
    .additional-block.visible:hover .time {
        display: none;
    }
    .delete-row {
        cursor: pointer;
        font-size: 11px;
        margin-right: -5px;
        background: none;
        color: #af0000;
        display: none;
    }
}
